{"swagger":"2.0","host":"devapi.digthisdata.com","basePath":"/","schemes":["https"],"info":{"title":"API documentation","version":"0.0.1"},"tags":[],"paths":{"/app/reset":{"get":{"summary":"Resets DTD table as if App is not installed, but key and token remain.","operationId":"getAppReset","description":"For testing only","tags":["app"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/app":{"post":{"summary":"Get JWT token by DTD credentials","operationId":"postApp","description":"Gets JWT token","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model1"}}],"tags":["app"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/app/activate":{"put":{"summary":"Activates/Deactivates Integration","operationId":"putAppActivate","description":"Enable or disable Integrated App","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model2"}}],"tags":["app"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/app/set":{"put":{"summary":"Sets the Store ID into DTD database","operationId":"putAppSet","description":"Will *install* App on the DTD side. Type indicates the integration type. 0 = Shopify.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model3"}}],"tags":["app"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}}},"definitions":{"Model1":{"type":"object","properties":{"key":{"type":"string","minLength":30,"maxLength":35},"token":{"type":"string","minLength":30,"maxLength":40}},"required":["key","token"]},"Model2":{"type":"object","properties":{"active":{"type":"number","minimum":0,"maximum":1}}},"Model3":{"type":"object","properties":{"integration_id":{"type":"string","minLength":6,"maxLength":40},"type":{"type":"number","minimum":0,"maximum":10}},"required":["integration_id"]}}}